*.dart linguist-detectable=true
*.html linguist-detectable=false
*.css linguist-detectable=false
*.c++ linguist-detectable=false
*.c linguist-detectable=false
*.cmake linguist-detectable=false
*.kotlin linguist-detectable=false
*.swift linguist-detectable=false
*.objective-c linguist-detectable=false